openapi: 3.0.1
info:
  title: SF Compute Account Balance API
  description: REST API for the SF Compute (San Francisco Compute Company) GPU compute marketplace. Place buy/sell market orders for blocks of H100 GPU-hours, list and retrieve tradable cluster contracts, request live market quotes, read account balance, and provision managed-Kubernetes clusters, nodes, and VM instances. All endpoints require a Bearer API token generated with `sf tokens create`.
  termsOfService: https://sfcompute.com/terms
  contact:
    name: SF Compute Support
    email: hello@sfcompute.com
  version: v0
servers:
- url: https://api.sfcompute.com/v0
security:
- bearerAuth: []
tags:
- name: Balance
paths:
  /balance:
    get:
      operationId: getBalance
      tags:
      - Balance
      summary: Get account balance
      description: Returns available and current account balance in cents.
      responses:
        '200':
          description: The account balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
  /transactions:
    get:
      operationId: listTransactions
      tags:
      - Balance
      summary: List transactions
      responses:
        '200':
          description: A list of account transactions.
components:
  schemas:
    Balance:
      type: object
      properties:
        available_balance_cents:
          type: integer
        current_balance_cents:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token created with `sf tokens create`, sent as `Authorization: Bearer <token>`.'
