openapi: 3.0.1
info:
  title: SF Compute Account API
  description: REST API for the SF Compute (San Francisco Compute Company) GPU compute marketplace. Place buy/sell market orders for blocks of H100 GPU-hours, list and retrieve tradable cluster contracts, request live market quotes, read account balance, and provision managed-Kubernetes clusters, nodes, and VM instances. All endpoints require a Bearer API token generated with `sf tokens create`.
  termsOfService: https://sfcompute.com/terms
  contact:
    name: SF Compute Support
    email: hello@sfcompute.com
  version: v0
servers:
- url: https://api.sfcompute.com/v0
security:
- bearerAuth: []
tags:
- name: Account
paths:
  /tokens:
    get:
      operationId: listTokens
      tags:
      - Account
      summary: List API tokens
      responses:
        '200':
          description: A list of tokens.
    post:
      operationId: createToken
      tags:
      - Account
      summary: Create an API token
      responses:
        '200':
          description: The created token.
  /tokens/{id}:
    delete:
      operationId: deleteToken
      tags:
      - Account
      summary: Delete an API token
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Token deleted.
  /me:
    get:
      operationId: getMe
      tags:
      - Account
      summary: Get current account
      responses:
        '200':
          description: The authenticated account.
  /ping:
    get:
      operationId: ping
      tags:
      - Account
      summary: Health check
      security: []
      responses:
        '200':
          description: Service is reachable.
components:
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token created with `sf tokens create`, sent as `Authorization: Bearer <token>`.'
